<a href="https://colab.research.google.com/github/VidhiNegi19/sem4/blob/main/7_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#The list of numbers
numbers=[1,2,4,6,11,14,17,20]
print(numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [2]:
squared_numbers=[1,2,4,6,11,14,17,20]
print(squared_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [6]:
print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 2, 4, 6, 11, 14, 17, 20]

In [7]:
#Getting the list of squares using list comprehension
list_of_numbers=[1,2,4,6,11,14,17,20]
squared_numbers=[number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [8]:
#Writing list comprehension using conditionals
even_squared_numbers=[number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [9]:
#Writing list comprehension using conditionals
odd_squared_numbers=[number**2 for number in list_of_numbers if number%2!=0]
print(odd_squared_numbers)

[1, 121, 289]

In [10]:
#Writing list comprehension using conditionals
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [11]:
even_squared_numbers=[number**2 for number in list_of_numbers if number%2==0]

In [12]:
list(range(4))

[0, 1, 2, 3]

In [13]:
list_of_numbers=[]
for num1 in range(4):
  for num2 in range(3):
    print(num1,num2)
    list_of_numbers.append(num2)
    print(list_of_numbers)

0 0
[0]
0 1
[0, 1]
0 2
[0, 1, 2]
1 0
[0, 1, 2, 0]
1 1
[0, 1, 2, 0, 1]
1 2
[0, 1, 2, 0, 1, 2]
2 0
[0, 1, 2, 0, 1, 2, 0]
2 1
[0, 1, 2, 0, 1, 2, 0, 1]
2 2
[0, 1, 2, 0, 1, 2, 0, 1, 2]
3 0
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]
3 1
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
3 2
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [14]:
#We can write it in a slightly different way
list_of_numbers= [num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [15]:
list_of_numbers=[num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

In [16]:
sample=[[]]
len(sample)
sample[0]

[]

In [17]:
list_of_lists=[1]
#for num1 in range(4):
#Append an empty sublist inside the list
list_of_lists.append([]) #[[0]] , list_of_lists[1]
#print(list_of_lists

In [19]:
#Using list comprehension we can write the same thing
list_of_lists=[[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [20]:
heisenberg_quote= "It ceases to exist without me. No,you clearly don't know who you're talkingto, so let me clue you in. I am not in danger,Skyler. I am the danger"
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,you', 'clearly', "don't", 'know', 'who', "you're", 'talkingto,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,Skyler.', 'I', 'am', 'the', 'danger']

In [21]:
heisenberg_quote.split('t')

['I',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me. No,you clearly don'",
 " know who you're ",
 'alking',
 'o, so le',
 ' me clue you in. I am no',
 ' in danger,Skyler. I am ',
 'he danger']

In [22]:
#Let's you store the first time of each word in another list
first_letters = []
for word in words_by_walter:
  first_letters.append(word[0])

In [23]:
#Print the first_letters list
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'c', 'd', 'k', 'w', 'y', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'I', 'a', 't', 'd']

In [24]:
#The same task but now with list comprehension
first_letters=[word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'c', 'd', 'k', 'w', 'y', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'I', 'a', 't', 'd']

In [25]:
heisenberg_quote.split(',')

['It ceases to exist without me. No',
 "you clearly don't know who you're talkingto",
 ' so let me clue you in. I am not in danger',
 'Skyler. I am the danger']

In [26]:
my_string='Alphsbet Inc.'
list_of_characters= [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 's', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

In [27]:
#Suppose we have a tuple of days
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [28]:
#Let us create a tuple where we want to remove the word 'day' from each tuple element
days_without_day = tuple([day[:-3] for day in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [29]:
#Using a 'for loop'
first_letters = set()
for word in words_by_walter:
  first_letters.add(word[0])
  print(first_letters)

{'I'}
{'I', 'c'}
{'t', 'I', 'c'}
{'t', 'e', 'I', 'c'}
{'e', 'w', 'I', 'c', 't'}
{'e', 'w', 'I', 'c', 't', 'm'}
{'e', 'w', 'I', 'c', 't', 'N', 'm'}
{'e', 'w', 'I', 'c', 't', 'N', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 's', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 's', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 's', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 's', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 's', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 's', 'i', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 's', 'i', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'n', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'n', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'n', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'n', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'n', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'n', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}
{'e', 'w', 'I', 'd', 'c', 't', 'n', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}

In [30]:
#Using set comprehension
first_letters = {word[0] for word in words_by_walter}
print(first_letters)

{'e', 'w', 'I', 'd', 'c', 't', 'n', 'N', 'k', 's', 'i', 'a', 'l', 'y', 'm'}

In [31]:
#Dictionary comprehensions
country_city_list = [('India','New Delhi'), ('Australia','Canberra'), ('United States' ,'Washington DC'),('England','London')]

In [32]:
#Lets convert the list of tuples to a dictionary
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [33]:
#The conventional for loop approach
flipped = {}
for country, city in country_city_dict.items():
  flipped[city] = country

print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [34]:
#The new dictionary comprehension
flipped={city:country for country, city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [35]:
#We can further add conditionals
flipped={city:country for country, city in country_city_dict.items() if country[0] in ['E','A']}
print(flipped)

{'Canberra': 'Australia', 'London': 'England'}

In [36]:
#The new dictionary comprehension
flipped={country[:2] : city[-2:] for country, city in country_city_dict.items()}
print(flipped)

{'In': 'hi', 'Au': 'ra', 'Un': 'DC', 'En': 'on'}

In [37]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}